<div class="card">
    <div class="content">
      <h1 class="light">
        Gowthamnarayanan <span class="dark">S</span>
      </h1>
      <p class="medium">
        I am a Full Stack DevOps Engineer
      </p>
      <p class="medium">
        Have a look at my <a class="light" href="https://in.linkedin.com/in/gossgowtham">LinkedIn profile</a>
      </p>
      <div class="column">
        <h6 class="dark">
          Skills
        </h6>
        <br />
        <h5 class="medium">
          Angular / Spring Boot
        </h5>
        <h5 class="medium">
          Cloud / Kubernetes
        </h5>
        <h5 class="medium">
          Data Science / ML
        </h5>
        <h5 class="medium">
          Python / MongoDB
        </h5>
      </div>
      <div class="column">
        <h6 class="dark">
          Accreditations
        </h6>
        <br />
        <h5 class="medium">
          AWS ML
        </h5>
        <br/>
        <h5 class="medium">
          AWS Developer
        </h5>
        <h5 class="medium">
          Azure Data Scientist
        </h5>
      </div>
      <div class="tabs dark">
        <p class="tab"> <a class="dark" target="_blank" href="https://drive.google.com/file/d/1jIAGllv-gFTEgcwXviK2SO9s-5NJLWtk/view?usp=sharing">
            Download Resume
        </a>
        </p>
        <p class="tab"> <a class="light" target="_blank" href="https://github.com/goss-gowtham">
            GitHub
        </a>
        </p>
        <p class="tab"> <a class="dark" target="_blank" href="https://twitter.com/goss_gowtham?lang=en">
            X
        </a>
        </p>
        <p class="tab"> <a class="light" target="_blank" href="https://leetcode.com/gossgowtham/">
          leetcode
        </a>
        </p>
      </div>
    </div>
  </div>